body {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
   display: flex;
   flex-direction: column;
}

.header {
    display: flex;
    color: #f9faf8;
    background-color: #1F2937;
    padding: 0px 100px 0px 100px;
    align-items: center;

}

.headerlink {
    display: flex;
    margin-left: auto;
    gap: 10px;
    font-size: 18px;

}


.first {
    display: flex;
    color: #f9faf8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 100px;

}

.first1 {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    font-size: 18px;
    text-align: left;
    margin-right: 60px;
   
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}

.first button {
    display: block;
    background: #3882f6;
    border: none;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    color: rgb(248, 246, 246);
    font-weight: bold;
}


.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}
.second1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    color: lightslategrey;
}

.second img {
    border-radius: 8px;
    border-style: solid; color: #3882f6;
}

.third {
    display: block;
    background-color: #e5e7eb;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 100px;
    
}

.third b {
    display: flex;
    margin: 0px 0px 0px 1100px;
}

.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 100px 300px 100px 300px;
}

.fourth1 {
    display: flex;
    flex-basis: 1000px;
    text-align: left;
}

h3 {
    margin-bottom: -10px;
}

.fourth2 button {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    border-color: #f9faf8;
    border-style: solid;
    
}

.fifth {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
}